css/ | - normalize.css | - style.css
body {
    font-size: 1em;
    font-family: "Arial", sans-serif;
    line-height: 10px;
}
.container {
    width: 1200px;
    min-height: 70px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid orange;
}
.main-header {
    width: 1200px;
    padding: 5px 0px;
    outline: 1px solid blue;
}
.main-navigation li {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px;
}
li:nth-child(2) {
    margin-right: 240px;
}
ul {
  padding: 0px; 0px;
  margin: 0px; 0px;
  text-align: center;
}
.intro {
    width: 1200px;
    padding: 50px 0px;
    outline: 1px solid red;
    text-align: center;
}
.featuresone {
    width: 1200px;
    min-height: 70px;
    outline: 1px solid red;
}
.featuresone div {
    display: inline-block;
    vertical-align: top;
    padding: auto;
    outline: 1px solid blue;
}
.featuresone-item {
    width: 400px;
    padding: 55px 0px;
    text-align: center;
    background: #81b3d2;
}
.featuresone-image {
    width: 800px;
    padding: auto;
}
.proposal {
    width: 1200px;
    min-height: 70px;
    outline: 1px solid red;
}
.proposal div {
    width: 400px;
    padding: 100px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    outline: 1px solid blue;
}
.featurestwo {
    width: 1200px;
    min-height: 70px;
    outline: 1px solid red;
}
.featurestwo div {
    display: inline-block;
    vertical-align: top;
    padding: auto;
    outline: 1px solid blue;
}
.featurestwo-item {
    width: 400px;
    padding: 55px 0px;
    text-align: center;
    background: #81b3d2;
}
.featurestwo-image {
    width: 800px;
    padding: auto;
}
.features {
    width: 1200px;
    min-height: 70px;
    outline: 1px solid red;
    background: #eeeeee;
}
.features div {
    width: 400px;
    padding: 100px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    outline: 1px solid blue;
}
.search {
    width: 1200px;
    padding: 100px 0px;
    text-align: center;
    outline: 1px solid red;
}
.search a {
    width: 568px;
    height: 88px;
    outline: 1px solid blue;
    background: #766357;
}
.map {
    width: 1200px;
    padding: 150px 0px;
    text-align: center;
    outline: 1px solid red;
}
.main-footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}
.footer-contacts,
.footer-social,
.footer-image {
    width: 400px;
    padding: 20px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    outline: 1px solid blue;
}
.choice {
  width: 1200px;
  min-height: 70px;
  outline: 1px solid red;
}
.choice-form-a {
  width: 1200px;
  min-height: 70px;
  outline: 1px solid blue;
}
.choice-item-one, .choice-item-two, .choice-item-three {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 1px solid blue;
}
.choice-item-one, .choice-item-two {
  width: 300px;
  padding: 100px 0px;
}
.choice-item-three {
  width: 600px;
  padding: 62px 0px;
}
.sort {
  min-height: 70px;
  padding: 10px 72px;
  outline: 1px solid red;
}
.result, .sort-type, .sort-direction {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 1px solid blue;
}
.result {
  width: 165px;
  padding: 20px 0px;
}
.sort-type {
  width: 726px;
  padding: 13px 0px;
}
.sort-direction {
  width: 165px;
  padding: 25px 0px;
}
.sort-type li {
  padding: 18px 0px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 1px solid blue;
}
.catalog {
  padding: 0px 72px;
  outline: 1px solid red;
}
article {
  padding: 30px 0px;
  outline: 1px solid green;
}
.catalog-image,
.catalog-description,
.catalog-rating {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid blue;
}
.catalog-image {
width: 165px;
padding: 10px 0px;
text-align: center;
}
.catalog-description {
width: 726px;
padding: auto;
text-align: left;
}
.catalog-rating {
width: 165px;
padding: 50px 0px;
text-align: center;
}
.hotels-found-more,
.hotels-found-book {
  padding: 5px 50px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 1px solid blue;
}
